{% extends 'base.html' %}
{% block title %}Магазин - Категория {{ category.title }}{% endblock %}
{% block content %}
    <section class="rounded bg-light row p-3 m-1">
        <h2>{{ category.title }}</h2>
        <details>
            <summary>
                Подкатегории:
            </summary>
            {% for i in category.children.all %}
                <a href="{% url 'category_detail' slug=i.slug %}"  class="badge bg-dark">{{ i.title }}</a>
            {% endfor %}
        </details>
    </section>
    <section class="rounded bg-light p-3 m-1">
        <div class="row " style="min-height: 500px;">
            {% for product in products %}
                <a href="{% url 'product_detail' slug=product.slug %}" class="col-sm-4">
                    <div class="card  p-0">
                        <div class="card-header">{{ product.title }}</div>
                        <div class="card-body text-center" style="height:150px">
                            
                            {% if product.preview_image %}
                                <img src="{{ product.preview_image.url }}" alt="" 
                                class="img-thumbnail h-100"
                                >
                            {% else %}
                                <img src="/media/blank.png" alt="" 
                                height="150"
                                class="img-thumbnail h-100"
                                >
                            {% endif %}
                        </div>
                        <div class="card-footer">{{ product.price }}руб</div>
                    </div>
                </a>
            {% endfor %}
            <div class="col-sm-4"></div>
        </div>
        <div class="mt-1">
            <h5 class="text-center">Страницы</h5>
            <ul class="pagination justify-content-center">
                {% if page.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="#">{{ page.number }} из {{ page.paginator.num_pages }}</a>
                </li>
                {% if page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </section>
{% endblock %}
{% block scripts %}{% endblock %}
