body {
  min-width: 100vw;
  min-height: 100vh;
  background: url("/media/back.jpg");
  font-family: "Overpass", sans-serif;
}

header {
  font-family: "Golos Text";
  padding: 10px;
}
main {
  font-family: "Golos Text";
  padding: 10px;
}

main section .image-icon:hover{
  box-shadow: 0 0 1px 1px blue;
}
main section .image-icon:active{
  transform: scale(0.99);
}

footer {
  font-family: "Golos Text";
  padding: 10px;
}


main article .info-block .card-body{
  background: url('https://www.w3schools.com/w3images/pizza.jpg') center center;
  height: 300px;
  display: flex;
  justify-content:space-around;
  align-content: center;
}

main article .info-block .card-body div{    
  display: flex;  
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  font-size: 48px;
 color: white;
 text-shadow: 0 0 5px black;
}