body {
  min-width: 100vw;
  min-height: 100vh;
  background: url("/media/back.jpg");
  font-family: "Overpass", sans-serif;
}

header {
  font-family: "Golos Text";
  padding: 10px;
}
main {
  font-family: "Golos Text";
  padding: 10px;
}

footer {
  font-family: "Golos Text";
  padding: 10px;
}
