{% extends 'base.html' %}
{% block title %}Магазин - Продукт {{ product.title }}{% endblock %}
{% block content %}
    <section class="rounded bg-light p-3 m-1">
        <h2>{{ product.title }}</h2>
        <div class="row">
            <!- image -->
            <div class="col-sm-12 col-md-6">
                <img src="" alt="">
            </div>
            <!- info -->
            <div class="col-sm-12 col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">{{ product.description }}</li>
                    <li class="list-group-item">{{ product.available }}</li>
                    <li class="list-group-item">{{ product.price }}</li>
                    <li class="list-group-item">
                        <form action="{% url 'cart:add_product' p_id=product.id}" method="post">
                            <button class="bg-success">Добавить в корзину</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}{% endblock %}
