{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}base{% endblock %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/jquery-3.1.0.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        <script src="{% static 'js/knockout-3.3.0.js' %}"></script>
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'site.webmanifest' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap"
              rel="stylesheet">
    </head>
    <body>
        <header class="container">
            <nav class="rounded navbar navbar-expand-md navbar-white bg-white">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Магазин</a>
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#mynavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mynavbar">
                        <ul class="navbar-nav  me-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'categories_list' %}">Каталог</a>
                            </li>
                            {% if request.user.is_authenticated %}
                                <li class="nav-item bg-sucess">
                                    <a class="nav-link" href="{% url 'cart:detail' %}">Корзина</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"
                                       href="#"
                                       role="button"
                                       data-bs-toggle="dropdown">Профиль</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="">Заказы</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="">Настройки</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/admin">Админка</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/logout">Выйти</a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="nav-item bg-sucess">
                                    <a class="nav-link" href="javascript:void(0)">Войти/Регистрация</a>
                                </li>
                            {% endif %}
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="text" placeholder="Название">
                            <button class="btn btn-primary" type="button">Поиск</button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container">
            {% block content %}{% endblock %}
        </main>
        <footer class="container">
            <div class="rounded row bg-light p-3 m-1">
                <div class="col-sm-12 col-md-4 text-center">
                    <p>Контакты</p>
                </div>
                <div class="col-sm-12 col-md-4 text-center">
                    <p>Доп информация</p>
                    <p>...</p>
                    <p>...</p>
                </div>
                <div class="col-sm-12 col-md-4 text-center">
                    <p>Рабочие часы</p>
                    <p>...</p>
                    <p>...</p>
                </div>
            </div>
        </footer>
        <script></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
